/* Global Styles */
body {
    font-family: 'SF Pro Text', sans-serif; /* Fonte similar à Apple */
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    color: #333333;
}

/* Header */
header {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333333;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #007AFF;
}

/* Hero Section */
.hero {
    background-color: #8f8f8f13;
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    display: flex;
    align-items: center;

    text-align: center;
    color: #000000;
}

.hero-text{
    color: #000000;
    align-content: center;
    text-align: center;
    align-items: center;

    
}


/* Features Section */
.features {
    padding: 50px;
}

#ffd{
    text-align: center;
}

.ico{
    width: 50px;
    height: 50px;
}

.feature-box {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
}

/* Benefits Section */
.benefits {
    background-color: #F2F2F2;
    padding: 50px;
}

/* Footer */
footer {
    font-weight: bold;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

/* Responsiveness */
@media (max-width: 768px) {
    /* Adaptações para telas menores */
    header {
        padding: 10px;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    /* ... outras adaptações */
}