header {
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}



nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

#botao {
    /* Estiliza o botão */
    background-color: #393797;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    position: absolute;
    top: 6%;
    right: 3%;
    
    
   
}



button:hover {
    background-color: #3e8e41;
  }

section {
    padding: 20px;
}

#sobre-nos {
    background-color:0; 
}

#servicos ul {
    list-style: none;
    padding: 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

.card {
    width: 300px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    float: left;
  width: 100%;
}

.card img {
    width: 150px;
    border-radius: 50%;
}

